.main {
  background-color: #f7f6f9;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-between;
}

.stocks-alert {
  background-color: #ffffff;
  border-radius: 8px;
}

.stocks-graph {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.stocks-bar {
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 8px;
}

.stock-card {
  color: rgba(255, 255, 255, 0.903);
  margin: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 8px;
}

.stocks-card-row {
  margin-right: 0 !important;
}

.primary-color {
  background-color: #6425fe !important;
}
.muted-primary-color {
  background-color: #efe9ff !important;
}

.form-check-input:checked {
  background-color: #6425fe !important;
  border-color: #6425fe !important;
}
